body{
	width: 100%;
  height: 100%;
  font-family:sans-serif;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3{
	font-weight: 700;
}

p,
.rule-section li{
	margin: 0 0 25px;
	font-size: 18px;
  	line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: #2BD;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #1195B5;
}

.navbar {
	background-color: #11BBFF;
	font-weight: 700;
}

.navbar-header{
  color: white;
}

.navbar a{
	color: white;
}

.navbar .nav li a:hover {
  color: #ffc42e;
  background-color: transparent;
}

.navbar .nav li a:focus,
.navbar .nav li a:active {
  color: #11BBFF;
  background-color: white;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #11BBFF;
  background-color: white;
}

@media (min-width: 768px) {

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus,
  .navbar .nav li a:focus,
  .navbar .nav li a:active {
    color: white;
    background-color: transparent;
    border-bottom: solid thick #ffc42e;
  }

  .navbar-style {
    padding: 20px 0;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-style.top-nav-collapse {
    padding: 0;
    background: #11ADFF;
  }
}

.btn-warning{
	margin:10px;
}

.landing{
	color: white;
	display: table;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: auto;
	padding: 120px 0;
	background-image: url("../image/landing.jpg");
	background-repeat: no-repeat;
 	background-size: cover;
}
.landing .landing-body {
  	display: table-cell;
  	vertical-align: middle;
}
.landing .landing-body .brand-heading {
  	font-size: 40px;
}
.landing .landing-body .landing-text {
	color: white;
 	font-size: 18px;
}
@media (min-width: 768px) {
  .landing {
    height: 100%;
    padding: 0;
  }
  .landing .landing-body .brand-heading {
    font-size: 100px;
  }
  .landing .landing-body .landing-text {
    font-size: 35px;
  }
}
.outline-btn{
  	margin-top: 15px;
  	padding: 7px 16px;
  	border: 2px solid white;
  	font-size: 25px;
  	color: 	white;
  	background-color: rgba(255,200,50,0.9);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
  	transition: background 0.3s ease-in-out;
}

.outline-btn:hover,
.outline-btn:focus {
  color: white;
  background-color: rgba(255,200,50,1.0);
}

.work-section{
	padding-top: 50px;
}

.designer-section{
	padding-top: 50px;
}

.rule-section{
	padding: 50px;
  margin-bottom: 50px;
}
.rule-section h2{
	font-weight: 700;
}

.row-content {
  margin: 0px auto;
  padding: 100px 0px;
  min-height: 400px;
}


.section-title{
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
    margin:  0 0 35px;
    border-radius: 5px;
    background: #11BDFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #11DDDD, #11BBFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #11DDDD, #11BBFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #11DDDD, #11BBFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #11DDDD, #11BBFF); /* Standard syntax (must be last) */
}

.single-work { 
  padding:30px 10px 0 10px;
  margin-bottom: 35px;
}

.single-work span{
  font-size: 18px;
}

.votes{
  color:green;
  float: right;
  text-align: right;
  padding-right: 10%;
}

.tab-content{
  padding: 70px 30px 30px 30px;
  border: 1px solid rgba(200,200,200,0.7);
}

.nav-tabs > .active > a,
.nav-tabs a:hover,
.nav-tabs a:active{
  background-color: #44CCFF !important;
  color:white !important;
}

@media (min-width: 768px){
  .tab-content{
    padding: 70px 30px 30px 30px;
    background-color: #FAFAFA;
    border-top: 0px !important;
    border-right: 1px solid rgba(200,200,200,0.7) !important;
    border-left: 1px solid rgba(200,200,200,0.7) !important;
    border-bottom: 1px solid rgba(200,200,200,0.7) !important;
  }

  .nav-tabs > .active > a{
    border-bottom: 1px solid #F9F9F9 !important;
    background-color: #F9F9F9  !important;
    color: #11BBFF !important;
  }

  .nav-tabs a:hover,
  .nav-tabs a:active{
    background-color: #F9F9F9   !important;
    color: #11BBFF !important;
  }

  .nav-tabs a{
    border-radius: 15px 15px 0 0 !important;
    background-color: #F2F2F2 !important;
    color: #11BBFF !important;
  }
}

.profile{
    color: white;
    margin:100px 0 50px 0;
    padding:25px;
    height:100%;
    text-align: center;
    background: #f32d27; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(45deg,  #f32d27 5%, #ff6b45 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(5%,#f32d27), color-stop(99%,#ff6b45)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); /* IE10+ */
    background: linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f32d27', endColorstr='#ff6b45',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.54);
}

.profile h3{
  margin:50px 0 50px 0;
}

.img-head{
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.29);
    border-radius: 10px;
}

.img-head .img-rounded{
  border: 2.5px solid rgba(255,255,255,1.0);
  margin: 30px;
}

.img-head .img-responsive{
  margin: 0 auto;
}

.fa-twitter,
.fa-facebook,
.fa-user,
.fa-google-plus{
  color: #11AAEE;
  background-color: #F5F5F5;
  border-radius: 50%;
  font-size:30px;
  padding:10px;
  margin: 0px 0 30px 0;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

.fa:hover,
.fa:focus{
  color: #FFF;
  background-color: #33BBEE;
     -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(200, 150, 155, 0.54);
-moz-box-shadow:    0px 0px 8px 0px rgba(200, 150, 155, 0.54);
box-shadow:         0px 0px 8px 0px rgba(200, 150, 155, 0.54);
}

.profile-votes{
  color:#f32d27;
  font-weight: 700;
  text-align: center;
}


.profile-work{
  position: relative;
  text-align:right;
}

figcaption i{
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile-work .fa{
  color:white;
  font-size:25px;
  padding:8px;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
}

.profile-work .fa-check{
  background-color: #22CC0D;
}

.profile-work .fa-spinner{
  background-color: #FFBC0D;
}

.profile-work .fa-times{
  background-color: #ED0000;
}

footer {
    background: #FFEDC1;
  	padding: 50px 0;
    margin-top:50px;
}
footer p {
	color: #666;
  	margin: 0;
}