<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
    <meta name="author" content="">

    <!-- Title -->
    <title>首頁</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="vendor/owl.carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="vendor/owl.carousel/owl-carousel/owl.theme.css">

    <!-- Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ifontLoad.css" rel="stylesheet">

</head>

<body>

		<!-- Nav -->
		<nav class="navbar navbar-fixed-top navbar-style" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-main-collapse" aria-expanded="false" aria-controls="navbar">
                    Menu <i class="fa fa-bars"></i>
            	    </button>
					<a class="navbar-brand" href="index.html">icon</a>
				</div>
				<div class="navbar-collapse collapse navbar-main-collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="work.html">作品</a>
						</li>
						<li>
							<a href="designer.html">設計師藝廊</a>
						</li>
						<li>
							<a href="#">參賽規則</a>
						</li>
						<li>
							<a href="#">線上編輯頁面</a>
						</li>
					</ul>
				
					<div class="navbar-right">
						<a href="#" class="btn btn-warning yellow-btn">立即參加</a>
					</div>

				</div>
			</div>			
		</nav>

		<!-- Landing Header -->
		<header class="landing container">
			<div class="landing-body">
            <div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="brand-heading">Landing Page</h1>
						<p class="landing-text">Say something</p>
						<a href="#work" class="btn outline-btn page-scroll">Show</a>
					</div>
				</div>
                </div>
			</div>
		</header>

		<!-- Work Section -->
		<section id="work" class="container" ng-controller="IndexWorkSectionCtrl">
            <div class="text-center work-section">  
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
            		      <h3 class="section-title">作品展示</h3>
                    </div>
                </div>
                <div class="row">
                    <data-owl-carousel class="owl-carousel" data-options="{navigation: true, pagination: true, rewindNav : true}">
                        <div owl-carousel-item="" ng-repeat="work in works" class="item">
                            <div class="single-work">
                                <a href="#">
                                <div class="thumbnail">
                                    <img class="img-responsive" ng-src={{work.image}} align="center" alt="">
                                </div>
                                <h4>{{work.name}}</h4>
                                </a>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a href="profile.html">{{work.author}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </data-owl-carousel>
            	</div>
            </div>
		</section>

		<!-- Designer Section -->
		<section id="designer" class="container" ng-controller="IndexDesignerSectionCtrl">
			<div class="text-center designer-section">
                <div class="row">
            	   <div class="col-xs-10 col-xs-offset-1">
            		  <h3 class="section-title">設計師專欄</h3>
            	   </div>
                </div>
                <div class="row">
                    <data-owl-carousel class="owl-carousel" data-options="{navigation: true, pagination: true, rewindNav : true}">
                        <div owl-carousel-item="" ng-repeat="work in works" class="item">
                            <div class="single-work">
                                <a href="#">
                                <div class="thumbnail">
                                    <img class="img-responsive" ng-src={{work.image}} align="center" alt="">
                                </div>
                                <h4>{{work.name}}</h4>
                                </a>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a href="profile.html"> {{work.author}} </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </data-owl-carousel>
                </div>
            </div>
		</section>

		<!-- Rule Section -->
		<section id="rule" class="container rule-section">
			<div class="row">
            	<div class="col-xs-10 col-xs-offset-1 text-center">
            		<h3 class="section-title">活動辦法</h3>
            	</div>
            </div>
            <div>
            	<div class="col-md-10 col-md-offset-1">
            		<ol>
            			<li><p>
            				參加者請拍攝一段總長不超過90秒(含90秒)的影片，用你能想到的任何方式來表達你對籃球的熱情與渴望(影片內容須有參加者本人影像，並完整回答以下3個問題，順序不限)：
            			</p></li>
            			<li><p>
            				除可於FACEBOOK活動頁報名，亦可透過實體活動或特約店點報名，詳情將在http://gonike.me/risetw公布。
            			</p></li>
            			<li><p>
            				須自行拍攝上傳於指定活動頁完成報名，總長不超過90秒(含90秒)的影片、彩色黑白不限。
            			</p></li>
            			<li><p>
            				如違反上述規定，主辦單位有權取消参加者的入選資格，該参加者須自行承擔其法律責任，並保證BRS NIKE TAIWAN（必爾斯藍基股份有限公司）免受任何損失。若該作品已被宣布為入選之作品，主辦單位有權立即取消參加資格並另行遴選入選者。
            			<br></p></li>
            			<li><p>
            				參加者應於2015年05月21日起至2015年06月18日23:59止完成作品上傳。
            			</p></li>
            		</ol>
            	</div>
            </div>
		</section>

	<!-- Footer -->
    	<footer>
        	<div class="container text-center">
            	<p>Footer</p>
        	</div>
    	</footer>


    <!-- jQuery -->
    <script src="vendor/jquery/jquery.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Include js plugin -->
    <script src="vendor/angular.min.js"></script>
    <!-- Theme JS -->
     <script src="scripts/navbarCollapse.js"></script>
     <script src="scripts/myApp.js"></script>
     <script src="scripts/controllers.js"></script>
     <script src="scripts/services.js"></script>
     <script src="scripts/carouselFix.js"></script>
     <script src="vendor/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
</body>
</html>